<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h3>LIBRARY</h3>
            <h3>
 
            </h3></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bs-example">
                <div class="pull-right">
                    <a href=""  class="save-button"  data-container="body" data-template="views/templates/captchaModal.tpl.html" bs-modal>
                   
                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <th>BOOK NAME</th>
                            <th>AUTHOR</th>
                            <th class="col-sm-1"></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in bookList track by item.id">
                                <td>
                                    <span editable-text="item.name" onbeforesave="checkData($data);" e-type="text" e-placeholder="name" e-name="name" e-form="rowform" e-required>{{item.name}}</span>
                                </td>
                                <td>
                                    <span editable-text="item.author" onbeforesave="checkData($data);" e-type="text" e-placeholder="author" e-name="author" e-form="rowform" e-required>{{item.author}}</span>
                                </td>
                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <div >
                                        <form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="saveBook($data, item.id,rowform)" class="form-buttons form-inline" shown="inserted == item">
                                            <div class="repo-actions pull-right">
                                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                                    save
                                                </button>
                                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel();cancelEdit(item,$index);" class="btn btn-default">
                                                    cancel
                                                </button>
                                            </div>
                                        </form>
                                       
                                    
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <div class="repo-actions">
                                            <a href="" class="pull-right" ng-click="setDeleteItem(item,$index)" data-placement="left" data-container="body" data-auto-close="true" data-template-url="views/templates/confirmDeletePopover.tpl.html" bs-popover>
                                                <span data-title="Delete" data-placement="left" bs-tooltip>
                                              <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                            </span>
                                            </a>
                                            <a href="" class="pull-right" data-toggle="tooltip" data-placement="bottom" ng-click="rowform.$show();beginEdit(item,index);" data-title="Edit" bs-tooltip><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <button class="btn btn-default" ng-click="addUser()">Add row</button> -->
                </div>
            </div>
        </div>
    </div>
</div>


<!--  <form action="/validateCaptcha" method="POST">
                                           <div class="g-recaptcha" data-sitekey="6Leh1SMTAAAAAAdOJJ8FkD1iHH4EJcSwgP5rmjxp"></div>
                                           <br/>
                                           <input type="submit" value="Submit">
                                       </form> -->